label.disabled {
  color: gray;
}

a,
.button-link {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  height: revert;
  padding: 4px;
  color: rgba(19, 29, 207);
  filter: brightness(1);
  text-transform: none;
  border: none;
  outline: none;
  background-color: inherit;
  text-align: center;
  vertical-align: middle;
}

.button {
  display: block;
  width: 100%;
}
