:root {
  --text-color: #f99b77;
  --page-bg-color: #1d102e;
  --panel-bg-color: #f4b88f;
  --light-square-bg-color: #e0e2db;
  --dark-square-bg-color: #5f7470;
  --board-width: clamp(400px, min(50vw, 80vh), 800px);
  --panel-width: 220px;
  --total-ranks: 8;
  --total-files: 8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--page-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  text-align: center;
}

.lang-switcher {
  text-align: right;
  padding: 12px;
}

.wrapper {
  position: relative;
  display: inline-block;
  margin: 20px auto;
  vertical-align: middle;
}

.board-wrapper {
  display: inline-block;
  border: 3px solid grey;
  border-radius: 2px;
}

table {
  width: var(--board-width);
  height: calc(var(--board-width) * var(--total-ranks) / var(--total-files));
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}

td {
  position: relative;
  font-size: min(1.5em, calc(0.25 * var(--board-width) / var(--total-ranks)));
  color: black;
  filter: brightness(1);
  transition: all 0.2s;
  border: none;
}

td span.count {
  position: absolute;
  right: 4px;
  bottom: 2px;
}

td span.percent {
  position: absolute;
  right: 4px;
  top: 2px;
}

td.current {
  filter: brightness(1.3);
  outline: 2px solid grey;
}

td.current.dragged {
  filter: brightness(0.8);
}

td.drop-target {
  filter: brightness(1.5);
  cursor: pointer;
}

td.drop-target:hover {
  filter: brightness(1.7);
}

td.drop-target::after {
  position: absolute;
  content: "";
  left: calc(50% - 16px);
  top: calc(50% - 16px);
  width: 0;
  height: 0;
  border: 16px solid rgba(0, 15, 150, 0.4);
  border-radius: 50%;
}

table tr:nth-child(odd) td:nth-child(odd),
table tr:nth-child(even) td:nth-child(even) {
  background-color: var(--light-square-bg-color);
}

table tr:nth-child(odd) td:nth-child(even),
table tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--dark-square-bg-color);
}

div.piece {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.panel {
  position: absolute;
  top: 0;
  width: var(--panel-width);
  text-align: center;
}

.panel.right {
  left: calc(100% + 30px);
}

.panel.left {
  right: calc(100% + 30px);
}

.panel-button {
  display: block;
  width: 100%;
}

.disclosure-toggler {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #9b4dca;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  max-width: var(--panel-width);
  white-space: normal;
}

.disclosure-toggler:hover,
.disclosure-toggler:hover:focus {
  filter: brightness(1.2);
  color: #9b4dca;
  background-color: transparent;
}

.disclosure-toggler:focus {
  color: #9b4dca;
  background-color: transparent;
  border: 1px dashed rgba(150, 150, 150, 0.4);
  border-radius: 2px;
}

.disclosure-toggler:active,
.disclosure-toggler:active:focus {
  filter: brightness(1.5);
  color: #9b4dca;
  background-color: transparent;
}

/* a css triangle using borders */
.disclosure-toggler::after {
  position: absolute;
  content: "";
  top: calc(50% - 6px);
  right: 1rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #9b4dca;
  transform-origin: 3px center;
  transform: rotate(0);
  transition: all 0.2s ease-out;
}

.disclosure-toggler.open::after {
  transform: rotate(90deg);
}

.disclosure-content {
  position: relative;
  color: var(--page-bg-color);
  background-color: var(--panel-bg-color);
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 12px;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in;
}

.disclosure-content.open {
  pointer-events: auto;
  opacity: 1;
}

.disclosure-content label {
  font-weight: 500;
}

.disclosure-content .section {
  position: relative;
  margin: 16px 0;
  border: 1px solid #9b4dca;
  border-radius: 4px;
  padding: 10px;
}

.disclosure-content .section::after {
  position: absolute;
  content: attr(data-heading);
  left: 10px;
  height: 2rem;
  top: -1.3rem;
  padding: 0 6px;
  vertical-align: middle;
  background-color: var(--panel-bg-color);
}

label.disabled {
  color: gray;
}

input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"],
input[type="radio"] + label,
label.number,
input[type="number"],
label.inline {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.5rem;
}

.number-input-wrapper {
  text-align: right;
  padding-right: 12px;
}

input[type="number"] {
  width: 50px;
  height: 30px;
  padding: 0;
  padding-left: 8px;
  text-align: center;
}

a,
.button-link {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  height: revert;
  padding: 4px;
  color: rgba(19, 29, 207);
  filter: brightness(1);
  text-transform: none;
  border: none;
  outline: none;
  background-color: inherit;
  text-align: center;
  vertical-align: middle;
}

.button {
  display: block;
  width: 100%;
}

.button-link {
  text-align: center;
  white-space: normal;
}

.button-link.lang {
  display: inline;
  margin-bottom: 0;
  color: var(--light-square-bg-color);
}

.button-link.lang:hover {
  color: var(--light-square-bg-color);
  filter: brightness(1.2);
}

.button-link.lang:active,
.button-link.lang:active:focus {
  color: var(--light-square-bg-color);
  filter: brightness(1.5);
}

.button-link.lang:focus,
.button-link.lang:hover:focus {
  color: var(--light-square-bg-color);
  filter: brightness(1.4);
}

a:hover,
a:hover:focus,
.button-link:hover,
.button-link:hover:focus {
  background-color: inherit;
  filter: brightness(1.1);
  border: none;
  color: rgba(19, 29, 207);
}

a:focus,
.button-link:focus {
  background-color: inherit;
  border: none;
  color: rgba(19, 29, 207);
  filter: brightness(1);
  outline: 1px solid rgba(150, 150, 150, 0.4);
}

a:active,
a:active:focus,
.button-link:active,
.button-link:active:focus {
  background-color: inherit;
  border: none;
  color: rgba(19, 29, 207);
  filter: brightness(1.3);
}

textarea {
  resize: none;
  height: 10rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  overflow: scroll;
  margin-bottom: 0;
}

.textarea-wrapper {
  position: relative;
}

button.copy {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0 16px;
  font-size: 1rem;
  line-height: 1.1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

button.copy.show {
  opacity: 1;
  pointer-events: all;
}

.copy-msg {
  margin-bottom: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}

.copy-msg.show {
  opacity: 1;
}
